[mistral]
api_key = "your api key"
temperature = 0.8
top_p = 1
max_tokens = 256
model = mistral-tiny
timeout = 500

[openai]
api_key = "your api key"
temperature = 0.8
top_p = 1
max_tokens = 256
model = gpt-3.5-turbo
timeout = 500

[huggingface]
api_key = "your api key"
timeout = 500